<div class="bg-gray-100 h-screen w-screen max-w-screen flex flex-col items-center p-12">
  <div class="w-full max-w-4xl h-fit">
    <div class="flex justify-between mb-4 items-end">
      <span class="w-full font-bold text-xl">Profile</span>
    </div>
    <div class="bg-white rounded-lg w-full h-fit shadow p-4">
      <form class="flex flex-col gap-4" [formGroup]="profileForm" (ngSubmit)="onProfileFormSubmit()">
        <label for="name">Username</label>
        <input id="name" formControlName="name" />
        <div>
          <label for="profilePictureId" class="mr-4">Profile picture</label>
          <select id="profilePictureId" formControlName="profilePictureId">
            <option *ngFor="let picture of profilePictures" [value]="picture._id.toUrlSafeString()">
              {{ picture.name }}
            </option>
          </select>
        </div>
        <button class="btn-main w-fit" type="submit">Save</button>
      </form>
    </div>
  </div>

  <div *ngIf="isAdmin()" class="w-full max-w-4xl">
    <div class="w-full max-w-4xl h-fit mt-6">
      <div class="flex justify-between mb-4 items-end">
        <span class="w-full font-bold text-xl">Profile pictures</span>
      </div>
      <div class="bg-white rounded-lg w-full h-fit shadow p-4" #pictureCard>
        <div *ngIf="!profilePictures.length && !this.isAddingProfilePicture && !this.loadingPics">No available pictures yet. Upload a new one!</div>
        <div class="pb-4" #pictureList>
          <div *ngFor="let picture of getDisplayableProfilePictures()" class="border-b-2 border-b-gray-300 last:border-b-0 p-2">
            <div
              class="flex items-center"
            >
              <svg viewBox="0 0 24 24" class="w-12 h-12 mr-4" [innerHTML]="getSvgHtml(picture.svg)"></svg>
              <span>{{ picture.name }}</span>
              <div class="flex items-center gap-4 ml-auto">
                <svg
                  (click)="startEditingProfilePicture(picture)"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  style="fill: rgba(0, 0, 0, 1)"
                >
                  <path d="m18.988 2.012 3 3L19.701 7.3l-3-3zM8 16h3l7.287-7.287-3-3L8 13z"></path>
                  <path
                    d="M19 19H8.158c-.026 0-.053.01-.079.01-.033 0-.066-.009-.1-.01H5V5h6.847l2-2H5c-1.103 0-2 .896-2 2v14c0 1.104.897 2 2 2h14a2 2 0 0 0 2-2v-8.668l-2 2V19z"
                  ></path>
                </svg>
                <svg
                  class="cursor-pointer"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  style="fill: rgba(241, 10, 10, 1)"
                  (click)="deletePicture(picture)"
                >
                  <path
                    d="M5 20a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V8h2V6h-4V4a2 2 0 0 0-2-2H9a2 2 0 0 0-2 2v2H3v2h2zM9 4h6v2H9zM8 8h9v12H7V8z"
                  ></path>
                  <path d="M9 10h2v8H9zm4 0h2v8h-2z"></path>
                </svg>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="!this.isAddingProfilePicture">
          <button class="btn-main" (click)="startEditingProfilePicture()">Add new profile picture</button>
        </div>

        <div *ngIf="this.isAddingProfilePicture">
          <form [formGroup]="profilePictureForm" (ngSubmit)="submitProfilePictureForm()">
            <label for="profilePictureName">Name</label>
            <input id="profilePictureName" formControlName="profilePictureName" />
            <label for="svg">Svg text</label>
            <input id="svg" formControlName="svg" />
            <div class="flex gap-4 mt-4">
              <button class="btn-main" type="submit">Save profile picture</button>
              <button
                class="btn-main bg-white border-2 border-gray-400 text-black"
                (click)="cancelProfilePictureEdit()"
                type="button"
              >
                Cancel
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="w-full max-w-4xl h-fit mt-6">
      <div class="flex justify-between mb-4 items-end">
        <span class="w-full font-bold text-xl">Labels</span>
      </div>
      <div class="bg-white rounded-lg w-full h-fit shadow p-4" #labelCard>
        <div *ngIf="!labels.length && !this.isAddingLabel && !this.loadingLabels">No available labels yet. Upload a new one!</div>
        <div class="pb-4" #labelList>
          <div *ngFor="let label of getDisplayableLabels()" class="border-b-2 border-b-gray-300 last:border-b-0 p-2">
            <div
              class="flex items-center"
            >
              <span>{{ label.name }}</span>
              <div class="flex items-center gap-4 ml-auto">
                <svg
                  (click)="startEditingLabel(label)"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  style="fill: rgba(0, 0, 0, 1)"
                >
                  <path d="m18.988 2.012 3 3L19.701 7.3l-3-3zM8 16h3l7.287-7.287-3-3L8 13z"></path>
                  <path
                    d="M19 19H8.158c-.026 0-.053.01-.079.01-.033 0-.066-.009-.1-.01H5V5h6.847l2-2H5c-1.103 0-2 .896-2 2v14c0 1.104.897 2 2 2h14a2 2 0 0 0 2-2v-8.668l-2 2V19z"
                  ></path>
                </svg>
                <svg
                  class="cursor-pointer"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  style="fill: rgba(241, 10, 10, 1)"
                  (click)="deleteLabel(label)"
                >
                  <path
                    d="M5 20a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V8h2V6h-4V4a2 2 0 0 0-2-2H9a2 2 0 0 0-2 2v2H3v2h2zM9 4h6v2H9zM8 8h9v12H7V8z"
                  ></path>
                  <path d="M9 10h2v8H9zm4 0h2v8h-2z"></path>
                </svg>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="!this.isAddingLabel">
          <button class="btn-main" (click)="startEditingLabel()">Add new label</button>
        </div>

        <div *ngIf="this.isAddingLabel">
          <form [formGroup]="labelForm" (ngSubmit)="submitLabelForm()">
            <label for="labelName">Name</label>
            <input id="labelName" formControlName="labelName" />
            <div class="flex gap-4 mt-4">
              <button class="btn-main" type="submit">Save label</button>
              <button
                class="btn-main bg-white border-2 border-gray-400 text-black"
                (click)="cancelLabelEdit()"
                type="button"
              >
                Cancel
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="fixed left-6 bottom-6 rounded-lg flex gap-3">
  <a routerLink="/home">
    <button class="btn-main bg-white text-black border-gray-200 border-2">Back to simulation list</button>
  </a>
</div>
