<th-line
  [rotation]="[3.14/2, 0, 0]"
  [position]="[0,0,0]"
  [scale]="[1, 1, 0]"
  [geometry]="ellipseGeometry"
  (beforeRender)="onBeforeRender()"
>
  <th-lineBasicMaterial [args]="{color: 'blue'}" [side]="doubleSide"></th-lineBasicMaterial>
</th-line>
<app-station *ngFor="let station of stations" [position]="station.position" [id]="station.id"></app-station>
