<div class="flex w-full p-4 items-center">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="w-16 h-16 mr-4"
    viewBox="0 0 24 24"
    [innerHTML]="getProfilePictureSvg()"
  >
  </svg>
  <div class="flex flex-col">
    <span class="flex items-center gap-3">
      <b class="text-lg">
        {{ simulation.name }}
      </b>
      <span *ngFor="let label of simulation.labels" class="pt-1 pb-1 pl-2 pr-2 text-xs rounded-lg border-2 border-gray-200 bg-gray-100 cursor-default">
        {{label.name}}
      </span>
    </span>
    <span class="text-gray-400">{{ simulation.user?.name }}</span>
  </div>
  <div *ngIf="isOwn" class="ml-auto flex gap-3">
    <a [routerLink]="['/simulation', { id: simulation._id.toUrlSafeString() }]">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        style="fill: rgba(0, 0, 0, 1); transform: ; msfilter: "
      >
        <path d="m18.988 2.012 3 3L19.701 7.3l-3-3zM8 16h3l7.287-7.287-3-3L8 13z"></path>
        <path
          d="M19 19H8.158c-.026 0-.053.01-.079.01-.033 0-.066-.009-.1-.01H5V5h6.847l2-2H5c-1.103 0-2 .896-2 2v14c0 1.104.897 2 2 2h14a2 2 0 0 0 2-2v-8.668l-2 2V19z"
        ></path>
      </svg>
    </a>
    <svg
      class="cursor-pointer"
      (click)="onDelete()"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      style="fill: rgba(241, 10, 10, 1); "
    >
      <path
        d="M5 20a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V8h2V6h-4V4a2 2 0 0 0-2-2H9a2 2 0 0 0-2 2v2H3v2h2zM9 4h6v2H9zM8 8h9v12H7V8z"
      ></path>
      <path d="M9 10h2v8H9zm4 0h2v8h-2z"></path>
    </svg>
  </div>
</div>
