<div class="h-screen bg-gray-50 flex flex-col justify-center items-center p-8">
  <div class="bg-white rounded w-full max-w-screen-md p-8 shadow">
    <h2 class="font-bold text-xl">Boring company simulation</h2>
    <p class="text-gray-500">Log in</p>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="flex flex-col mt-6 gap-2" >
      <label for="email">Email</label>
      <input formControlName="email" name="email" id="email" class="input">
      <label for="name">Name</label>
      <input formControlName="name" name="name" id="name">
      <label for="password">Password</label>
      <input formControlName="password" name="password" type="password" id="password">
      <span>
        Already have an account?
        <a routerLink="/" routerLinkActive="active">Login</a>
      </span>
      <button type="submit" class="mt-12 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Ok</button>
    </form>
  </div>
</div>
