<div class="flex flex-row relative">
  <div *ngIf="isLoading">Loading...</div>
  <div *ngIf="!isLoading" class="w-full">
    <th-canvas #canvas class="h-screen flex-1" [thStats]="false" (onRender)="this.onBeforeRender()">
      <th-scene>
        <scene-background></scene-background>
        <app-car
          *ngFor="let car of cars"
          [car]="car"
          [destination]="stations[car.id % stations.length]"
          [cars]="carComponents"
          (selfEmitter)="recieveCar($event)"
        ></app-car>
        <app-path></app-path>
        <th-ambientLight> </th-ambientLight>
        <th-perspectiveCamera #camera [args]="[75, 2, 0.1, 10000]" [position]="[0, 35, -100]"></th-perspectiveCamera>
        <th-orbitControls [args]="[camera.objRef, canvas.rendererCanvas?.nativeElement]"></th-orbitControls>
      </th-scene>
    </th-canvas>

    <div class="absolute left-6 top-6 flex gap-6">
        <div class="rounded-lg bg-white p-4 flex flex-col h-fit w-fit">
          <a routerLink="/home">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                style="fill: rgba(0, 0, 0, 1); transform: ; msfilter: "
              >
                <path d="M21 11H6.414l5.293-5.293-1.414-1.414L2.586 12l7.707 7.707 1.414-1.414L6.414 13H21z"></path>
              </svg>
          </a>
        </div>
      <div class="rounded-lg bg-white p-4 flex flex-col h-fit" #saveCard>
        <svg
          *ngIf="!isSaveOpen"
          (click)="isSaveOpen = !isSaveOpen"
          class="cursor-pointer"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          style="fill: rgba(0, 0, 0, 1); transform: ; msfilter: "
        >
          <path
            d="M5 21h14a2 2 0 0 0 2-2V8a1 1 0 0 0-.29-.71l-4-4A1 1 0 0 0 16 3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2zm10-2H9v-5h6zM13 7h-2V5h2zM5 5h2v4h8V5h.59L19 8.41V19h-2v-5a2 2 0 0 0-2-2H9a2 2 0 0 0-2 2v5H5z"
          ></path>
        </svg>
        <form *ngIf="isSaveOpen" [formGroup]="simulationForm" (ngSubmit)="onSubmit()">
          <label for="name">Name</label>
          <input name="name" id="name" formControlName="name" />
          <div class="flex flex-col gap-1 mt-3">
            <label for="labelIds">Labels</label>
            <select formControlName="labelIds" name="labelIds" id="labelIds" multiple class="rounded-lg border-2 border-gray-200 shadow">
              <option *ngFor="let label of labels" [value]="label._id.toUrlSafeString()">{{label.name}}</option>
            </select>
          </div>
          <div class="flex mt-6">
            <button class="btn-main" type="submit">Save simulation</button>
            <button class="btn-main bg-gray-300 ml-4" type="button" (click)="isSaveOpen = !isSaveOpen">Cancel</button>
          </div>
        </form>
      </div>

    </div>

    <div class="w-60 flex flex-col p-6 absolute right-0 top-0 gap-6 max-h-full overflow-y-auto">
      <div class="w-full flex flex-col p-4 rounded-lg bg-white">
        <p>Stations:</p>
        <ol>
          <li class="p-2 flex gap-1 items-center">
            {{ stations.length }}
          </li>
        </ol>
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="onAddStation()">
          Add station
        </button>
      </div>

      <div class="w-full flex flex-col p-4 bg-white rounded-lg">
        <p>Cars:</p>
        <ol>
          <li class="p-2 flex gap-1 items-center">
            {{ cars.length }}
          </li>
        </ol>
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="onAddCar()">
          Add car
        </button>
      </div>
    </div>
  </div>
</div>
