<th-mesh
  [position]="position"
  [rotation]="rotation"
  loadGLTF
  url="assets/model3.glb"
  (beforeRender)="onBeforeRender()"
>
  <th-boxGeometry></th-boxGeometry>
  <th-meshBasicMaterial [args]="{color: 'green'}"></th-meshBasicMaterial>
</th-mesh>
<!--<th-line-->
<!--  [geometry]="pathGeometry"-->
<!--  [position]="[0,0.5,0]"-->
<!--&gt;-->
<!--  <th-lineBasicMaterial [args]="{color: 'transparent', opacity: 0}" [linewidth]="2"  [side]="doubleSide"></th-lineBasicMaterial>-->
<!--</th-line>-->
