<div class="bg-gray-100 h-screen w-screen flex flex-col items-center p-12">
  <div class="w-full max-w-4xl h-full">
    <div class="flex justify-between mb-4 items-end">
      <span class="w-full font-bold text-xl">Browse simulations</span>
      <a [routerLink]="['/simulation', {id: 'new'}]">
        <button class="btn-main whitespace-nowrap">Add new</button>
      </a>
    </div>
    <div class="bg-white rounded-lg w-full h-fit shadow" #resultCard>
      <div *ngIf="isLoading">
        Loading...
      </div>
      <div *ngFor="let simulation of simulations" class="border-b-gray-200 border-b-2 last:border-b-0">
        <app-simulation-list-elem [simulation]="simulation"></app-simulation-list-elem>
      </div>
      <div *ngIf="!simulations.length && !isLoading" class="p-4 flex flex-col">
        <span>No simulations yet. Create a new one!</span>
        <a [routerLink]="['/simulation', {id: 'new'}]">
          <button class="btn-main mt-4 w-fit">Add new simluation</button>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="fixed left-6 bottom-6 rounded-lg flex gap-3">
  <button class="btn-main bg-white text-black border-gray-200 border-2" (click)="onLogout()">Logout</button>
  <a routerLink="/profile">
   <button class="btn-main bg-white text-black border-gray-200 border-2">Profile</button>
  </a>
</div>
