@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  input {
    @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none;
  }

  .btn-main {
    @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
  }
}

* {
  font-family: Inter, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: Montserrat, Inter, sans-serif;
}
