<th-line
  [rotation]="[3.14/2, 0, 0]"
  [position]="[this.position[0],0,this.position[1]]"
  [scale]="[10, 10, 0]"
  [geometry]="this.curve"
>
  <th-lineBasicMaterial [args]="{color: 'red'}" [side]="doubleSide"></th-lineBasicMaterial>
</th-line>
<th-mesh [position]="[this.position[0], 0, this.position[1]]">
  <th-textGeometry [args]="['' + this.id, {
		font: this.font,
		size: 11,
		height: 1,
		curveSegments: 12,
		bevelEnabled: false,
		bevelThickness: 1,
		bevelSize: 1,
		bevelOffset: 0,
		bevelSegments: 5
	}]"></th-textGeometry>
  <th-meshBasicMaterial [args]="{color: 'green'}"></th-meshBasicMaterial>
</th-mesh>
